@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

.container {
  width: 1440px;
  background-color: #1e252b;
  padding-bottom: 48px;
}

button {
  cursor: pointer;
}

.header {
  padding: 26px 0 26px;
  margin: 0 105px 0 111px;
  width: 1224px;
  height: 100px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo__image {
  width: 38px;
  height: auto;
}
.logo__name {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.nav-list {
  width: 431px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}
.nav-list__item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  opacity: 55%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.nav-list__item a:hover {
  opacity: 100%;
}

.buttons-wrapper {
  display: flex;
  cursor: pointer;
  gap: 40px;
}
.buttons-wrapper__button {
  padding: 12px 28px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  color: white;
  opacity: 55%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}
.buttons-wrapper__button--active {
  background-color: #FF6E30;
  opacity: 100%;
}

.container-right {
  padding-left: 111px;
}

.hero {
  width: 1375px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 84px;
  background-image: url("../assets/images/illustration.svg");
  background-repeat: no-repeat;
  background-position: right 100px;
  background-size: 700px 590px;
  padding-top: 104px;
  margin-bottom: 200px;
}
.hero__content {
  width: 600px;
  height: 354px;
}
.hero__content__title {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 30px;
}
.hero__content__paragraph {
  font-weight: 400;
  opacity: 55%;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}
.hero__search {
  width: 497px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283036;
  padding: 8px 12px 8px 18px;
  border-radius: 15px;
}
.hero__search__inputField {
  display: flex;
  gap: 13px;
}
.hero__search__inputField__icon {
  width: 24px;
  height: auto;
}
.hero__search__inputField input {
  width: 190px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}
.hero__search__button {
  width: 130.43px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  background-color: #FF6E30;
  color: #FFFFFF;
}
.hero__socials {
  height: 58px;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 8px;
}
.hero__socials__item {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange_dot {
  color: rgb(255, 110, 48);
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  color: #ffffff;
  opacity: 90%;
  margin-bottom: 25px;
}
.tools__annotation {
  width: 427px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  opacity: 55%;
  margin-bottom: 90px;
}
.tools__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 120px 25px;
  margin-bottom: 100px;
}

.gridElement {
  position: relative;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 30px;
  width: 392px;
  height: 294px;
  padding: 33px;
  transition: transform 0.8s ease, background-color 0.8s ease, backdrop-filter 0.8s ease;
  overflow: hidden;
}
.gridElement button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gridElement__header {
  width: 326px;
  display: flex;
  gap: 30px;
}
.gridElement__header__text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 78%;
}
.gridElement__header__text p {
  color: #FFA537;
  opacity: 55%;
}
.gridElement__description {
  color: #ffffff;
  opacity: 55%;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.gridElement__controls {
  display: flex;
  gap: 124px;
  width: 100%;
  height: 42px;
  align-items: center;
}
.gridElement__controls__buttons {
  display: flex;
  gap: 12px;
}
.gridElement__controls__visit {
  padding: 9px 35px;
  color: #ffffff;
  opacity: 55%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.gridElement:hover {
  background: rgba(40, 48, 54, 0.6);
  border: 2px solid;
  border-image-source: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
  backdrop-filter: blur(50px);
  transform: translateY(-20px);
}
.gridElement:hover .gridElement__header__text p,
.gridElement:hover .gridElement__controls__visit {
  opacity: 1 !important;
}
.gridElement:hover .gridElement__controls__visit {
  background-color: #FF6E30;
  color: #FFFFFF;
  padding: 9px 35px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.gridElement:hover::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255, 110, 48, 0.4) 0%, rgba(255, 110, 48, 0.05) 45%, rgba(255, 110, 48, 0) 65%);
  border-radius: 50%;
  pointer-events: none;
  filter: blur(30px);
}

.load-button {
  padding: 17px 38px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 184px;
  height: 64px;
  border-radius: 8px;
  background-color: transparent;
  color: #FF6E30;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 200px;
  cursor: pointer;
}
.load-button:hover {
  outline: none;
  box-shadow: 0 0 10px #FF6E30;
}

.like-button, .add-button {
  background: none;
  border: none;
  cursor: pointer;
}
.like-button img, .add-button img {
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(101%) contrast(102%);
}

.like-button:hover img {
  filter: invert(41%) sepia(83%) saturate(5608%) hue-rotate(339deg) brightness(101%) contrast(98%);
  opacity: 1;
}
.like-button--active img {
  filter: invert(41%) sepia(83%) saturate(5608%) hue-rotate(339deg) brightness(101%) contrast(98%);
  opacity: 1;
}

.footer {
  position: relative;
  margin: 0 auto;
  width: 1224px;
  height: 253px;
  background-color: rgba(44, 53, 61, 0.2);
  border-image-slice: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 55px 83px 56px 82px;
  border-radius: 25px;
  overflow: hidden;
}
.footer h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 80%;
}
.footer__list {
  margin: 0;
  padding: 0;
  width: 1059px;
  display: flex;
  justify-content: center;
  gap: 107px;
  align-items: center;
}
.footer::before {
  content: "";
  position: absolute;
  top: -80px; /* Расположение в левом верхнем углу */
  left: -80px;
  width: 160px;
  height: 160px;
  background: rgba(255, 72, 66, 0.4); /* Ваш цвет с прозрачностью */
  border-radius: 50%;
  border: 2px solid transparent;
  border-image-source: linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
  border-image-slice: 1;
  pointer-events: none;
  filter: blur(50px);
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px; /* Повторяем закругления */
  box-shadow: 0 0 0 2px linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
  pointer-events: none;
}

.company {
  display: flex;
  align-items: center;
}
.company img {
  width: auto;
  height: auto;
  max-height: 51px;
}

/*# sourceMappingURL=main.css.map */
