@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

.container {
  width: 1440px;
  background-color: #1e252b;
}

.header {
  padding: 26px 0 26px;
  margin: 0 105px 0 111px;
  width: 1224px;
  height: 100px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo__image {
  width: 38px;
  height: auto;
}
.logo__name {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.nav-list {
  width: 431px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0;
}
.nav-list__item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  opacity: 55%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.nav-list__item a:hover {
  opacity: 100%;
}

.buttons-wrapper {
  display: flex;
  cursor: pointer;
  gap: 40px;
}
.buttons-wrapper__button {
  padding: 12px 28px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  color: white;
  opacity: 55%;
  border: none;
  background: none;
  font-size: 16px;
}
.buttons-wrapper__button--active {
  background-color: #FF6E30;
  opacity: 100%;
}

.container-right {
  padding-left: 111px;
}

.hero {
  width: 1375px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 84px;
  background-image: url("../assets/images/illustration.svg");
  background-repeat: no-repeat;
  background-position: right 100px;
  background-size: 700px 590px;
  padding-top: 104px;
  margin-bottom: 200px;
}
.hero__content {
  width: 600px;
  height: 354px;
}
.hero__content__title {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 30px;
}
.hero__content__paragraph {
  font-weight: 400;
  opacity: 55%;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}
.hero__search {
  width: 497px;
  height: 64px;
}
.hero__socials {
  height: 58px;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 8px;
}
.hero__socials__item {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tools h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  color: #ffffff;
  opacity: 90%;
  margin-bottom: 25px;
}
.tools__annotation {
  width: 427px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  opacity: 55%;
  margin-bottom: 90px;
}
.tools__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 120px 25px;
}

.gridElement {
  position: relative;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 30px;
  width: 392px;
  height: 294px;
  padding: 33px;
  transition: transform 0.8s ease, background-color 0.8s ease, backdrop-filter 0.8s ease;
  overflow: hidden;
}
.gridElement__header {
  display: flex;
  gap: 30px;
}
.gridElement__header__text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 78%;
}
.gridElement__header__text p {
  color: #FFA537;
  opacity: 55%;
}
.gridElement__description {
  color: #ffffff;
  opacity: 55%;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.gridElement__controls {
  display: flex;
  gap: 124px;
  width: 100%;
  height: 42px;
  align-items: center;
}
.gridElement__controls__buttons {
  display: flex;
  gap: 12px;
}
.gridElement__controls p {
  padding: 9px 35px;
  color: #ffffff;
  opacity: 55%;
}
.gridElement:hover {
  background: rgba(40, 48, 54, 0.6);
  border: 2px solid;
  border-image-source: linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
  backdrop-filter: blur(50px);
  transform: translateY(-20px);
}
.gridElement:hover .gridElement__header__text p,
.gridElement:hover .gridElement__controls p {
  opacity: 1 !important;
}
.gridElement:hover .gridElement__controls p {
  background-color: #FF6E30;
  color: #FFFFFF;
  padding: 9px 35px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.gridElement:hover::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255, 110, 48, 0.4) 0%, rgba(255, 110, 48, 0.05) 45%, rgba(255, 110, 48, 0) 65%);
  border-radius: 50%;
  pointer-events: none;
  filter: blur(30px);
}

/*# sourceMappingURL=main.css.map */
